* {
    margin: 0px;
}

p {
    font-size: 2em;
}

body {
    height: 100vh;
    width: 100vw;
}

svg {
    /*width: (2450 / 100 / 2.54 * 267)px; /* (Keymap SVG's width / constant to convert to cm / constant converting to inches * your touchscreen device resolution in DPI) */
    /*width: 1000px;*/
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0px;
}